<h1>Mensajes</h1>

<%= link_to 'Nuevo mensaje', new_message_path if can? :create, Message %>


<% @messages.each do |msg| %>
  <ul>
    <% if can? :edit, msg %>
      <%= msg.body %>
      <%= link_to 'Ver', message_path(msg) %>
    <% end %>

    <% if can? :destroy, msg %>
      | <%= button_to 'Eliminar', message_path(msg), method: :delete, data: { confirm: "¿Seguro que quieres eliminar este mensaje?" } %>
    <% end %>
  </ul>
<% end %>

