<h1>Mensaje</h1>

<% if @message.user_id == current_user.id || @message.chat.users.include?(current_user) %> 

  <% if can? :edit, @message %>
    <p><%= @message.body %> <%= link_to 'Editar', edit_message_path(@message) %></p>
  <% end %>
<% end %>





<%= link_to 'Volver a mensajes', messages_path %>
