<h1>Mensaje</h1>
<p>Usuario: <%= @message.user.email %></p>
<p>Chat: <%= link_to "Chat ##{@message.chat.id}", chat_path(@message.chat) %></p>
<p>Contenido: <%= @message.body %></p>

<%= link_to 'Editar', edit_message_path(@message) %>