<h1>My Inbox</h1>

<% if @chats.any? %>
  <ul>
    <% @chats.each do |chat| %>
      <li>
        Conversation with:
        <% other_user = chat.other_participant(current_user) %>
        <% if other_user %>
          <%= link_to other_user.full_name, chat_path(chat) %> <%# Or simply: <%= other_user.full_name %>
        <% else %>
          (Participant not found)
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no chats yet.</p>
<% end %>